<div class="main1">
  <div class="main2 table-responsive">
          <h2> PREMIER LEAGUE</h2>
          <p class="pt">POINTS TABLE 2022</p>
          <table class="table">
              <thead>
                  <td>Pos.</td>
                  <td class="name">CLUBS</td>
                  <td>P</td>
                  <td>W</td>
                  <td>D</td>
                  <td>L</td>
                  <td>F</td>
                  <td>A</td>
                  <td>POINTS</td>
              </thead>
              <tbody>
                  <tr class="top" *ngFor="let club of clubs">
                      <td > 
                    </td>
                      <td class="name"> {{club.name}}</td>
                      <td>{{club.games_played}}</td>
                      <td>{{club.games_won}}</td>
                      <td>{{club.games_drew}}</td>
                      <td>{{club.games_lost}}</td>
                      <td>{{club.f_goals}}</td>
                      <td>{{club.conceded}}</td>
                      <td>{{club.points}}</td>
                  </tr>
              </tbody>
          </table>
  </div>
</div>