<table class="table">
    <thead>
        <td>Pos.</td>
        <td class="name">CLUBS</td>
        <td>P</td>
        <td>W</td>
        <td>D</td>
        <td>L</td>
        <td>GD</td>
        <td>POINTS</td>
    </thead>
    <tbody>
        <tr class="top">
            <td>1</td>
            <td class="name"> FC Platinum</td>
            <td>29</td>
            <td>6</td>
            <td>1</td>
            <td>0</td>
            <td>+18</td>
            <td>19</td>
        </tr>
    </tbody>
</table>